<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="administrador1" value="rceron"/>
		<add key="administrador2" value="dfuentes"/>
		<add key="tbPrEg" value="matricula.EGRESADO"/>
		<add key="tbPrMa" value="matricula.MASIVO"/>
		<add key="tbPrSg" value="matricula.SGECAS"/>
		<add key="tbPrDo" value="matricula.DOCENTES"/>
		<add key="dbUser" value="matricula"/>
		<!-- Url para chequear existencia usuario en AD -->
		<add key="urlCheckAD" value="http://192.168.1.191/ChequearUsuario.aspx"/>
		<!-- Datos para conexion servidor smtp -->
    <add key="smtpServer" value="email-smtp.us-east-1.amazonaws.com" />
		<add key="smtpUser" value="AKIAJJQPF3ANCRLCCHBQ" />
		<add key="smtpPassword" value="AgBBC0fLjJCJ+nOnHLZgjEs0vsweD/ol5bJkf6GtqVaP" />
		<add key="smtpPort" value="465" />
		<add key="smtpSecure" value="tls" />
		<!-- Directorio raiz sitio web value="" en produccion, value="" en desarrollo -->
		<add key="urlRoot" value=""/>
		<!-- Fecha última actualización del Sistema ECAS -->
		<add key="lastUpdate" value="Abril 2016"/>
		<!-- Flag de desarrollo -->
		<add key="desarrollo" value="0"/>
		<!-- Path adjuntos -->
		<add key="path_adjuntos" value="adjuntos/"/>
		<!-- Path src iframe -->
		<!-- Sincronizacion -->
		<add key="path_sincronizacion" value="http://alumnos.ecas.cl/desarrollo/sincronizacion.asp"/>
		<!-- Sincronizacion -->
		<add key="path_certificados" value="http://alumnos.ecas.cl/certificados/admin/"/>
		<!-- Niveles de acceso al sistema -->
		<add key="sinAcceso" value="1"/>
		<add key="lectura" value="2"/>
		<add key="escritura" value="3"/>
	</appSettings>
	<connectionStrings>
		<!-- 
         Conexiones BaseSqlServer!
         
         Conexion local de desarrollo a base de datos 
         connectionString="Provider=SQLOLEDB;Data Source=localhost;Persist Security Info=True;Password=dtb01s;User ID=matricula;Initial Catalog=Matricula;Connection Timeout=5" providerName="System.Data.OleDb"
         
         Conexion remota de produccion a base de datos
         connectionString="Data Source=192.168.1.8;Persist Security Info=True;Password=dtb01s;User ID=matricula;Initial Catalog=Matricula;Connection Timeout=5"
    
		<add name="BaseSqlServerBkp" connectionString="Data Source=192.168.1.192;Persist Security Info=True;Password=dtb01s;User ID=matricula;Initial Catalog=SistemaEcas;Connection Timeout=5"/>
		-->
    <add name="BaseSqlServer" connectionString="Data Source=192.168.1.194;Persist Security Info=True;Password=dtb01s;User ID=matricula;Initial Catalog=Matricula;Connection Timeout=5"/>
		<!-- conexion ApplicationServices -->
		<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<pages validateRequest="false">
		</pages>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
		<customErrors mode="Off"/>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
    
    <authentication mode="None"/>-->
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm"/>
            <error statusCode="404" redirect="FileNotFound.htm"/>
        </customErrors>
    -->
		<httpRuntime maxRequestLength="20480" executionTimeout="360"/>
		<trace enabled="false" pageOutput="false" requestLimit="20" traceMode="SortByTime" localOnly="false"/>
	</system.web>
</configuration>
